
section{
    background: url("../../assets/img/bg.svg");
    height: 100vh;
    padding:30px 50px;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 150px;
}
section .text{
    margin-top: 100px;
}
section .text h1{
    color: var(--primary);
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 40px;
}
section .text p {
    color: #383224;
    font-size: 1.4rem;
    margin-bottom: 40px;
}
section .text a{
    border:  2px solid var(--primary);
    color: var(--primary);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 10px;
    transition: all 1s ease-in-out;

}
section .text a:hover{
    background: var(--primary);
    color: var(--white);
    transition: all 1s ease-in-out;
}
section .myimage{
    margin-top: 50px;
    text-align: center;
    background: var(--primary);
    border-radius: 100px;
    height: 80vh;
}
