/* .loading-container{
    
    width: 90%;
    max-width: 700px;
    margin: auto;
    display: flex;
    margin-top: 200px;

}
.ball {
    background-color: #ff7f50;
    width: 200px;
    height: 200px;
    border: 5px solid var(--white);
    margin: auto;
    border-radius: 50%;
}
.ball.one{
    animation-name: ball-roll;
    background-color: #ff7f50;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}
.ball.two {
    animation-name: ball-roll2;
    animation-duration: 3s;
    border: 5px solid #ff7f50;
    background-color: var(--white);
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}
@keyframes ball-roll{
    0%{
        width: 200px;
        height: 200px;
        transform: rotate(35deg);
    }
    25%{
        width: 150px;
        height: 150px;
        transform: rotate(35deg);
    }
    50% {
        width: 100px;
        height: 100px;
        transform:rotate(70deg);
    }
    70%{
        width: 50px;
        height: 50px;
        transform: rotate(140deg);
    }
    100% {
        width: 25px;
        height: 25px;
        transform:rotate(140deg);
    }
    
}

@keyframes ball-roll2 {
    0% {
        width: 25px;
        height: 25px;
        transform: rotate(35deg);
    }

    25% {
        width: 50px;
        height: 50px;
        transform: rotate(35deg);
    }

    50% {
        width: 100px;
        height: 100px;
        transform: rotate(70deg);
    }

    70% {
        width: 150px;
        height: 150px;
        transform: rotate(140deg);
    }

    100% {
        width: 200px;
        height: 200px;
        transform: rotate(140deg);
    }

} */

.loading-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  background: #ffffff;
  justify-content: center;
}

.loading-container .ball {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  position: relative;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading-container .ball span {
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: inherit;
  background-color: var(--primary);
  animation: round 2.5s linear infinite;
}

.loading-container .ball span:last-child {
  animation-delay: -1.25s;
  background-color: #ff7f50;
}

@keyframes round {
  0% {
    transform: scale(0);
    transform-origin: left;
  }
  50% {
    transform: scale(1);
    transform-origin: left;
  }
  51% {
    transform: scale(1);
    transform-origin: right;
  }
  100% {
    transform: scale(0);
    transform-origin: right;
  }
}
